NODE_ENV="development"
PORT=3000

FIREBASE_PROJECT_ID=m3-assignment-b2341
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@m3-assignment-b2341.iam.gserviceaccount.com

SWAGGER_SERVER_URL="http://localhost:3000/api/v1"
ALLOWED_ORIGINS=https://allowedorigins.com,http://localhost:3000